@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  筆記体
*/
@font-face {
  font-family: LeagueScript-Regular;
  src: url('/fonts/LeagueScript-Regular.ttf') format("truetype");
  font-display: swap;
}

/*
  ゴシック
*/
@font-face {
  font-family: Poppins-Regular;
  src: url('/fonts/Poppins-Regular.ttf') format("truetype");
  font-display: swap;
}

/*
  明朝体
*/
@font-face {
  font-family: PTSerif-Regula;
  src: url('/fonts/Rosarivo-Regular.ttf') format("truetype");
  font-display: swap;
}

/*
  ベース
*/
@font-face {
  font-family: NotoSansJP-Regular;
  src: url('/fonts/NotoSansJP-Regular.otf') format("opentype");
  font-display: swap;
}