.button {
  background-color: #3ea8ff;
  border-radius: 10px;
  box-shadow: 0 0 15px -5px #0f83fd;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 16px 32px;
  width: 100px;

  &:hover {
    opacity: 0.7;
  }
}